<!doctype html>
<html lang="en">
<head>
    <% include ./partials/head %>
    <title>Create an Account | Gramforacause</title>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <% if (err.length) { %>
    <div> Errors:
        <ul>
            <% err.forEach(error => { %>
            <li><%= error %></li>
            <% }); /* end loop */ %>
        </ul>
    </div>
    <% } /* end if */ %>

    <h1>Create an account</h1>
    <form method="POST" action="/register">
        <div class="input-group">
            <label for="firstname">First name</label>
            <input name="firstname" type="text" id="firstname" class="form-control" value="<%= responses.firstname %>">
        </div>
        <div class="input-group">
            <label for="lastname">Last name</label>
            <input name="lastname" type="text" id="lastname" class="form-control" value="<%= responses.lastname %>">
        </div>
        <div class="input-group">
            <label for="email">Email</label>
            <input name="email" type="email" id="email" class="form-control" value="<%= responses.email %>">
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input name="password" type="password" id="password" class="form-control">
        </div>
        <div class="input-group">
            <label for="confirm">Confirm password</label>
            <input name="confirm" type="password" id="confirm" class="form-control">
        </div>
        <div class="input-group">
            <label for="role">Which are you?</label>
            <select name="role" id="role" class="form-control" >
                <% var selected = responses.role || 'default'%>
                <option disabled <%= selected === 'default' ? 'selected' : ''%>>Select one...</option>
                <option value="photographer" <%= selected === 'photographer' ? 'selected' : ''%>>Photographer</option>
                <option value="nonprofit" <%= selected === 'nonprofit' ? 'selected' : ''%>>Nonprofit</option>
            </select>
        </div>

        <fieldset id="photographer-more" class=<%= selected === 'photographer' ? '' : 'hidden'%>>
            Select your favorite causes
            <div class="checkbox">
                <% causes.forEach(function (cause) { %>
                <label>
                    <input name="causes" type="checkbox" value="<%= cause.name %>" <%= responses.causes && responses
                    .causes.indexOf(cause.name) > -1 ? 'checked' : ''
                    %>>
                    <%= cause.name %>
                </label>
                <% }); %>
            </div>

        </fieldset>
        <fieldset id="nonprofit-more" class=<%= selected === 'nonprofit' ? '' : 'hidden'%>>
            <ul>
                <li>Create your nonprofit</li>
                <li>Join a nonprofit</li>
            </ul>
        </fieldset>
        <button class="btn">Submit</button>
    </form>
    <script>
        var more = {
          photographer: document.getElementById('photographer-more'),
          nonprofit: document.getElementById('nonprofit-more')
        }
        var role = document.getElementById('role');
        role.addEventListener('change', function (e) {
            var val = e.target.value;

          ['photographer', 'nonprofit'].forEach(function (role) {
            var el = more[role];
            var hidden = /hidden/.test(el.className);
            if (val === role) {
              if (hidden) el.className = el.className.replace('hidden', '')
            } else {
              if (!hidden) el.className += 'hidden';
            }
          });
        });
    </script>
</body>
</html>